*
{
  margin: 0;
  padding: 0;
}
.video-background
{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -30;
}
@media screen and (min-width: 380px) and (max-width: 767px) {
  .video-background
  {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 380px) and (max-width: 767px) {
  .video-background
  {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .Button{
    margin: 15pc;
  }
}
.Button
{
  font-size: 20px;
  background-color: burlywood;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid coral;
  border-radius: 25px;
  text-decoration: none;
}
.Button:hover
{
  background: yellow;
  text-decoration: none;
  transition: .1s;
}
h1
{
  font-family: 'Cookie', cursive;
  font-size: 150px;
  text-align: center;
  position: relative;
  font-weight: 100;
  color: burlywood;
}
.header
{
  background: rgba(0,0,100,0.3);
  height: 100vh;
}
.p
{
  font-size: 30px;
  color: burlywood;
}